Repository DaoStudioAI/DaoStudio, changes with the labels that .github/labeler.yml gives for each.
All labels: core, ui, database, tools, tests, performance, documentation, build, dependencies

Check for update
  .github/workflows/ci.yml
  src/DaoStudioUI/App.axaml.cs
  src/DaoStudioUI/Services/UpdateService.cs
  src/DaoStudioUI/ViewModels/SettingsViewModel.cs
Labels: ui, build

Fix CI test failed
  src/Test/Performance/PerformanceDaoStudio/PerformanceDaoStudio.csproj
  src/Test/Performance/PerformanceStorage/PerformanceStorage.csproj
  src/Test/TestDaoStudio/TestDaoStudio.csproj
  src/Test/TestDaoStudioUI/TestDaoStudioUI.csproj
  src/Test/TestStorage/TestStorage.csproj
  src/Test/TestTools/TestKVStoreTool/TestKVStoreTool.csproj
  src/Test/TestTools/TestNamingTool/TestNamingTool.csproj
Labels: tests, performance, build

he Step Debugging button shows accent color now
  src/DaoStudioUI/Converters/StepDebuggingButtonBackgroundConverter.cs
  src/DaoStudioUI/Views/Home/Chat/ChatWindow.axaml
  src/DaoStudioUI/Views/Home/Chat/Resources/ChatConverters.axaml
Labels: ui

Add a prompt for step next
  src/DaoStudioUI/Resources/Strings.Designer.cs
  src/DaoStudioUI/Resources/Strings.resx
  src/DaoStudioUI/ViewModels/Home/Chat/ChatViewModel.Core.cs
  src/DaoStudioUI/ViewModels/Home/Chat/ChatViewModel.StepDebugging.cs
  src/DaoStudioUI/Views/Home/Chat/ChatWindow.axaml
Labels: ui

Add shadow to the type editor border
  src/Tools/NamingTool/ConfigWin/AdvConfig/Controls/ParameterTypeEditor.axaml
Labels: tools

Auto populate parameter place holders for adv dlg
  src/Tools/NamingTool/ConfigWin/AdvConfig/Tabs/PromptTemplateTab.axaml
  src/Tools/NamingTool/ConfigWin/AdvConfig/Tabs/PromptTemplateTab.axaml.cs
  src/Tools/NamingTool/ConfigWin/AdvConfig/ViewModels/PromptTemplateTabViewModel.cs
Labels: tools

Fix solution warning
  src/DaoStudio.sln
Labels: build

Fix project platform issues
  src/DaoStudio.sln
  src/Test/Performance/PerformanceDaoStudio/PerformanceDaoStudio.csproj
  src/Test/Performance/PerformanceStorage/PerformanceStorage.csproj
  src/Test/TestDaoStudio/TestDaoStudio.csproj
  src/Test/TestDaoStudioUI/TestDaoStudioUI.csproj
  src/Test/TestStorage/TestStorage.csproj
  src/Test/TestTools/TestKVStoreTool/TestKVStoreTool.csproj
  src/Test/TestTools/TestNamingTool/TestNamingTool.csproj
Labels: tests, performance, build

Fix CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/DaoStudio.sln
Labels: build

Remove performance test from CI
  .github/workflows/ci.yml
Labels: build

Add some string resource
  src/Tools/NamingTool/ConfigWin/AdvConfig/Tabs/InputParametersTab.axaml
  src/Tools/NamingTool/ConfigWin/AdvConfig/Tabs/PromptTemplateTab.axaml
  src/Tools/NamingTool/Properties/Resources.Designer.cs
  src/Tools/NamingTool/Properties/Resources.resx
Labels: tools

Fix Github actions
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
Labels: build

Remove x86
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: build

.github/labeler.yml:

# Label configuration for pull requests
# This file defines which labels should be applied to PRs based on changed files

# Core components
'core':
  - 'src/DaoStudio/**/*'
  - 'src/Common/**/*'
  - 'src/Interfaces/**/*'

'ui':
  - 'src/DaoStudioUI/**/*'

'database':
  - 'src/DBStorage/**/*'

# Tools/Plugins
'tools':
  - 'src/Tools/**/*'

# Testing
'tests':
  - 'src/Test/**/*'

'performance':
  - 'src/Test/Performance/**/*'
  - 'src/Test/TestStorage/Performance/**/*'
  - 'src/Test/TestDaoStudio/Performance/**/*'

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'

# Build & CI/CD
'build':
  - '**/*.csproj'
  - '**/*.sln'
  - 'src/Directory.Build.*'
  - '.github/workflows/**/*'
  - '.github/dependabot.yml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
