Repository DaoStudioAI/DaoStudio, changes with the labels that .github/labeler.yml gives for each.
All labels: core, ui, database, tools, tests, performance, documentation, build, dependencies

Update version json
  .github/workflows/release.yml
  LICENSE.txt
  README.md
  VERSIONING.md
  src/DaoStudio.sln
  src/Interfaces/Interfaces.csproj
  src/Test/TestTools/TestKVStoreTool/TestKVStoreTool.csproj
  src/Tools/KVStoreTool/KVStoreTool.csproj
  version.json
Labels: core, tools, tests, documentation, build

Fix build errors on Linux
  src/DaoStudio.sln
  src/Tools/BrowserTool/BrowserTool.csproj
  src/Tools/BrowserTool/Embeded/BrowserToolEmbeded.Cache.cs
  src/Tools/BrowserTool/Embeded/BrowserToolEmbeded.Session.cs
  src/Tools/BrowserTool/Embeded/BrowserToolEmbeded.cs
  src/Tools/NamingTool/NamingTool.csproj
Labels: tools, build

Fix build problems
  README.md
  src/Directory.Build.targets
  src/Tools/BrowserTool/BrowserToolPlugin.Browser.cs
Labels: tools, documentation, build

Fix build errors
  src/Directory.Build.props
  src/Directory.Build.targets
Labels: build

Clean test logs
  src/Test/Performance/PerformanceDaoStudio/PerformanceDaoStudio.csproj
  src/Test/TestDaoStudio/Core/AgentStudioTests.cs
  src/Test/TestDaoStudio/Infrastructure/DatabaseTestFixture.cs
  src/Test/TestDaoStudio/Infrastructure/TestContainerFixture.cs
  src/Test/TestDaoStudio/TestDaoStudio.csproj
Labels: tests, performance, build

skip the "Run unit tests" step on Linux and macOS temporarily.
  .github/workflows/ci.yml
Labels: build

change code coverage platform
  .github/workflows/ci.yml
Labels: build

Skip "Publish Coverage" temporarily
  .github/workflows/ci.yml
Labels: build

Remove log output of test cases
  src/Test/Performance/PerformanceDaoStudio/PerformanceDaoStudio.csproj
  src/Test/TestDaoStudio/Core/AgentStudioTests.cs
  src/Test/TestDaoStudio/Infrastructure/DatabaseTestFixture.cs
  src/Test/TestDaoStudio/Infrastructure/TestContainerFixture.cs
  src/Test/TestDaoStudio/TestDaoStudio.csproj
  src/Test/TestTools/TestNamingTool/get loc.ps1
Labels: tests, performance, build

Change code analyze platform
  .github/workflows/codeql.yml
Labels: build

Fix github action
  .github/workflows/codeql.yml
Labels: build

Update release action
  .github/workflows/release.yml
Labels: build

Update github release action
  .github/workflows/release.yml
Labels: build

Update release action
  .github/workflows/nightly.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  src/DaoStudioUI/DesktopUI.csproj
Labels: ui, build

Remove unused packages
  src/DaoStudio/DaoStudio.csproj
Labels: core, build

Update release action
  .github/workflows/release.yml
Labels: build

Fix plugins in release
  .github/workflows/release.yml
Labels: build

Update release action
  .github/workflows/release.yml
Labels: build

Update github release action
  .github/workflows/release.yml
  src/DaoStudioUI/DesktopUI.csproj
Labels: ui, build

Update release action
  .github/workflows/release.yml
Labels: build

update release action
  .github/workflows/release.yml
Labels: build

Update release action
  .github/workflows/release.yml
Labels: build

Fix publish problems on arm64
  src/Common/Common.csproj
  src/DBStorage/DBStorage.csproj
  src/DaoStudio/DaoStudio.csproj
  src/Interfaces/Interfaces.csproj
  src/Test/Performance/PerformanceDaoStudio/PerformanceDaoStudio.csproj
  src/Test/Performance/PerformanceStorage/PerformanceStorage.csproj
  src/Test/TestDaoStudio/TestDaoStudio.csproj
  src/Test/TestDaoStudioUI/TestDaoStudioUI.csproj
  src/Test/TestStorage/TestStorage.csproj
  src/Test/TestTools/TestKVStoreTool/TestKVStoreTool.csproj
  src/Test/TestTools/TestNamingTool/TestNamingTool.csproj
  src/Tools/BrowserTool/BrowserTool.csproj
  src/Tools/FileTool/FileTool.csproj
  src/Tools/KVStoreTool/KVStoreTool.csproj
  src/Tools/NamingTool/NamingTool.csproj
  src/Tools/PluginCommon/PluginCommon.csproj
Labels: core, database, tools, tests, performance, build

Add more logs for plugin loading
  src/DaoStudio/Services/PluginService.cs
Labels: core

Update github release action
  .github/workflows/codeql.yml.disabled
  .github/workflows/lint.yml.disabled
  .github/workflows/release.yml
Labels: build

Update release action for macos
  .github/workflows/release.yml
Labels: build

Fix yml grammar
  .github/workflows/release.yml
Labels: build

Update release action
  .github/workflows/release.yml
Labels: build

Add screnn snapshots
  Assets/ScreenSnapshot/1.png
  Assets/ScreenSnapshot/2.png
  Assets/ScreenSnapshot/3.png
  Assets/ScreenSnapshot/4.png
  README.md
  src/Tools/NamingTool/ConfigWin/NamingConfigWindow.axaml
Labels: tools, documentation

Set the log level by environment variable
  src/DaoStudio/Services/a.json
  src/DaoStudio/Utilities/LoggingHttpMessageHandler.cs
  src/DaoStudioUI/App.axaml.cs
  src/DaoStudioUI/DesktopUI.csproj
  src/DaoStudioUI/Program.cs
  src/DaoStudioUI/ReadMe.md
  src/DaoStudioUI/Utilities/LogLevelHelper.cs
Labels: core, ui, documentation, build

Moved subsession notifications onto SessionService so consumers subscribe at the service level.
  src/DaoStudio/Models/Session.cs
  src/DaoStudio/Services/SessionService.cs
  src/DaoStudioUI/ViewModels/Home/Chat/ChatViewModel.Core.cs
  src/Interfaces/ISession.cs
  src/Interfaces/ISessionService.cs
  src/Test/TestTools/TestNamingTool/TestInfrastructure/Mocks/MockHostSession.cs
Labels: core, ui, tests

Fix subsession message missing issue
  src/DaoStudio/Models/Message.cs
  src/DaoStudio/Models/Session.cs
  src/DaoStudio/Services/SessionService.cs
Labels: core

Remove message animation when switch session
  src/DaoStudioUI/ViewModels/Home/Chat/ChatViewModel.Core.cs
  src/DaoStudioUI/Views/Home/Chat/ChatWindow.axaml
  src/Test/TestDaoStudio/Services/SessionServiceMessageForwardingTests.cs
Labels: ui, tests

implemented scroll position preservation and restoration when navigating between session contents
  src/DaoStudioUI/Views/Home/Chat/ChatWindow.axaml.cs
Labels: ui

Fix chat UI issues for subsessions
  README.md
  src/DaoStudioUI/ViewModels/Home/Chat/ChatViewModel.Core.cs
Labels: ui, documentation

Add session events
  README.md
  src/DaoStudio/Services/SessionService.cs
  src/DaoStudioUI/ViewModels/Home/Chat/ChatViewModel.Core.cs
  src/Interfaces/ISessionService.cs
  src/Interfaces/SessionEventArgs.cs
  src/Test/TestDaoStudio/Services/SessionServiceMessageForwardingTests.cs
Labels: core, ui, tests, documentation

auto-populate feature has been successfully added to the advanced configuration dialog
  src/Tools/NamingTool/ConfigWin/AdvConfig/Tabs/PromptTemplateTab.axaml
  src/Tools/NamingTool/ConfigWin/AdvConfig/Tabs/PromptTemplateTab.axaml.cs
  src/Tools/NamingTool/ConfigWin/AdvConfig/ViewModels/PromptTemplateTabViewModel.cs
Labels: tools

Bump version to 0.1.1
  version.json
Labels: none

Check for update
  .github/scripts/generate-appcast.ps1
  .github/workflows/release.yml
  appcast.xml
  src/DaoStudioUI/Services/UpdateService.cs
Labels: ui, build

Fix failed CI
  src/Directory.Build.props
  src/Directory.Build.targets
Labels: build

.github/labeler.yml:

# Label configuration for pull requests
# This file defines which labels should be applied to PRs based on changed files

# Core components
'core':
  - 'src/DaoStudio/**/*'
  - 'src/Common/**/*'
  - 'src/Interfaces/**/*'

'ui':
  - 'src/DaoStudioUI/**/*'

'database':
  - 'src/DBStorage/**/*'

# Tools/Plugins
'tools':
  - 'src/Tools/**/*'

# Testing
'tests':
  - 'src/Test/**/*'

'performance':
  - 'src/Test/Performance/**/*'
  - 'src/Test/TestStorage/Performance/**/*'
  - 'src/Test/TestDaoStudio/Performance/**/*'

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'

# Build & CI/CD
'build':
  - '**/*.csproj'
  - '**/*.sln'
  - 'src/Directory.Build.*'
  - '.github/workflows/**/*'
  - '.github/dependabot.yml'

# Dependencies
'dependencies':
  - '**/packages.lock.json'
